.MuiButton-textPrimary{
    /*color: white;*/
    /*background-color: #ffffff;*/
    color: #1A202C;
    background-color: #1A202C;

}
.MuiButton-containedSecondary{
    color: #ffc00e;
    background-color: #ffc00e;
}
.Mui-disabled{
    /*color: white;*/
    /*background-color: #ffffff;*/
    color: #1A202C;
    background-color: #1A202C;
}
.MuiIconButton-root{
    /*color: white;*/
    /*background-color: #ffffff;*/
    color: #1A202C;
    background-color: #1A202C;
}