.app {
  height: 100%;
  background-color: var(--sw-paper);
  color: var(--sw-ink);
}

.treeRoot {
  height: 100%;
}

.draggingSource {
  opacity: 0.3;
}

.placeholderContainer {
  position: relative;
}

.dropTarget {
  background-color: #e2f0e5;
}
