
.ck-editor {
    height: 386px;

}
.ck-editor__editable_inline {
    height: 386px;
    --ck-color-toolbar-background: #0A1929;
    --ck-color-base-background: #0A1929;
    --ck-color-base-border: #0A1929;
    --ck-color-text: #ffffff;
    --ck-color-input-text: #ffffff;
    --ck-color-input-disabled-text:  #ffffff;
}


